{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <!-- Colonne pour l'image à gauche -->
        <div class="col-md-6 d-flex align-items-center">
            <img src="{{ asset('images/homepage.jpeg') }}" class="img-fluid" alt="Homepage">
        </div>
        
        <!-- Colonne pour les boutons à droite -->
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <a href="/sith" class="btn btn-danger btn-lg mb-3">Sith wheel</a>
            <a href="/trooper" class="btn btn-warning btn-lg mb-3">Troopers wheel</a>
            <a href="/jedi" class="btn btn-primary btn-lg mb-3">Jedi wheel</a>
            <a href="/copilop" class="btn btn-primary btn-lg mb-3">Copil OP wheel</a>
        </div>
    </div>
</div>
{% endblock %}