<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spin the wheel !</title>

    <!-- Bootstrap CSS (via CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Ton propre fichier CSS -->
    <link rel="stylesheet" href="style.css">
<style>
    body {
        {% if team == 'sith' %}
            background-image: url('images/sith.webp');
        {% elseif team == 'trooper' %}
            background-image: url('images/trooper.jpg');
        {% elseif team == 'jedi' %}
            background-image: url('images/jedi.png');
        {% elseif team == 'copilop' %}
            background-image: url('images/copilop.jpeg');
        {% elseif team == 'valSE' %}
            background-image: url('images/valse.png');
        {% endif %}

        background-position: bottom right;  /* Place l'image en bas à droite */
        {% if team == 'copilop' or team == 'valSE' %}
            background-size: 30%;
        {% else %}
            background-size: contain;  /* Redimensionne l'image pour qu'elle soit entièrement visible sans être coupée */
        {% endif %}
        background-repeat: no-repeat;  /* Empêche la répétition de l'image */
        background-attachment: fixed;  /* L'image de fond reste en place lorsque l'utilisateur fait défiler la page */
    }
</style>

</head>
<body>

    {% block body %}
        <div class="container">
            <!-- Ton contenu ici -->
        </div>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script src="app.js"></script>
</body>
</html>
